fastapi
uvicorn
sqlalchemy
email-validator
asyncpg
alembic
pydantic
python-dotenv
httpx
python-jose[cryptography]
passlib[bcrypt]
anthropic
pyswisseph
bikram-sambat
pytz
google-generativeai
nepali-datetime
